
.Footer_main {
    background-color: rgba(0,0,0,0.9);
}

.Footer {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    color: white;
    font-weight: 500;
}

.Footer_logo-widget {
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* justify-content: space-between; */
}

.Footer_service {
    width: 15rem;
}

.Footer_latest-posts {
    width: 15rem;
}

.Footer_subscribe {
    width: 15rem;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////  Footer_logo-widget /////////////////////////////////////////*/
.Footer_logo-icon {
    width: 10rem;
}

/* .Footer_logo-text {
    
} */

.Footer_phone-number--div {
    display: flex;
    gap: 0.5rem;
}

.Footer_space-line--long {
    border-bottom: 1px solid white;
}

.Phone_icon-footer {
    width: 1.5rem;
}

.Footer_mail {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/*////////////////////////////////////////// Footer Service ////////////////////////////////////////////*/
.Footer_service {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* justify-content: space-between; */
}

.Footer_space-line--short {
    border-bottom: 1px solid white;
    width: 20%;
}

.Footer_service-div {
    display: flex;
    gap: 0.3rem;
    padding: 0.4rem 0rem;
    cursor: pointer;
}

.Direction_icon {
    height: 1.2rem;
}

/*////////////////////////////////////////// Latest posts /////////////////////////////////////////////*/
.Footer_latest-posts {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   /* justify-content: space-between; */
}

.Footer_latest-imagesdiv {
    display: flex;
    gap: 1rem;
}

.FooterLatest_images {
    /* width: 100%; */
    /* height: 100%; */
    min-width: 6rem;
    height: 5rem;
    object-fit: cover;
}

.FooterLatest_data {
    margin-top: -0.5rem;
}

.FooterLatest_text {
    font-size: 0.9rem;
}

/*////////////////////////////////////////// Footer_subscribe /////////////////////////////////////////////*/
.Footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* justify-content: space-between; */
}

.Footer_subscribe-follow {
    margin-top: 1.5rem;
}

.FollowUs_div {
    display: flex;
    gap: 0.5rem;
}

.Social_media {
    width: 1.5rem;
}

