.presentation-slider {
    width: 59%;
    height: fit-content;
    position: sticky;
    top: 85px;
}

.presentation-slider > div{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
}

.main-slide{
    width: 100%;
    height: 370px;
    position: relative;
    overflow: hidden;
}

.main-slide > img{
    min-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.side-slides {
    width: 100%;
    height: 150px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    user-select: none;
}

.side-slides::-webkit-scrollbar {
    display: none;
}

/* .side-slides > div {
    min-width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

.side-slides > div > img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
} */

.slick-initialized .slick-slide,
.slick-initialized .slick-slide > div,
.slick-initialized .slick-slide > div > div{
    min-height: 150px !important;
}

.slick-initialized .slick-slide > div > div{
    position: relative;
}

.slick-track{
    gap: 5px !important;
}

.slick-slide img{
    width: 100%;
    min-height: 150px !important;
    object-fit: cover !important;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
}

/* .slick-slide img::before{
    content: "";
    position: absolute;
} */


.slider-action {
    /* width: 95%; */
    position: absolute;
    bottom: 12%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.slider-action > svg {
    width: 40px;
    height: 40px;
    background-color: var(--orange);
    position: absolute;
    user-select: none;
}

.slider-action > svg:nth-child(2) {
    rotate: 180deg;
    right: 0;
}

.slide-item {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.presentation-slider > .end-product-slider{
    gap: 20px;
}

.presentation-slider > .end-product-slider > .end-product-action-sm{
    height: auto;
    display: flex !important;
    position: static;
    justify-content: center;
    gap: 20px;
}

.presentation-slider > .end-product-slider > .end-product-action >  .icon{
    width: 40px;
    height: 40px;
}
