.projects-page {
  width: 100%;
}

.projects-page > div {
  max-width: 1200px;
  width: 75%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  row-gap: 50px;
}

.project-cardd {
  width: 350px;
  height: 350px;
  position: relative;
  background-color: #e0e0e0;
  overflow: hidden;
}

.project-cardd > img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}

.project-cardd > div {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e0e0e0;
  transition: 0.3s;
}

.project-cardd > div > p {
  padding: 20px 20px 0;
  text-wrap: wrap;
  font-size: 14px;
}

.project-cardd > div > h4 {
  padding: 20px 20px 0;
  text-wrap: wrap;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  transition: 0.1s;
}

.project-card-slider > div {
  height: auto;
  position: absolute;
}

#project-slider-low:hover > div{
  transform: translateY(-53%);
}

#project-slider-mid:hover > div{
  transform: translateY(-57%);
}

#project-slider-up:hover > div{
  transform: translateY(-61%);
}

.project-card-slider > div > .moreBtn {
  margin: 20px 0 0;
}

.project-card-slider > h4 {
  font-size: 22px !important;
}

.project-card-slider > div > h4 {
  padding: 25px 20px 5px;
}

.solution-slider-card > div > h4 {
  padding: 12px 20px 0 !important;
}

.solution-slider-card:nth-child(1):hover > div, 
.solution-slider-card:nth-child(2):hover > div, 
.solution-slider-card:nth-child(3):hover > div, 
.solution-slider-card:nth-child(5):hover > div,
.solution-slider-card:nth-child(7):hover > div{
  transform: translateY(-45%);
} 

#solution-slider-card:hover > div{
  animation: none;
  transform: translateY(-32%);
  position: absolute;
}

#solution-slider-card > img{
  height: 255px;
}


.moreBtn {
  width: 100%;
  height: 45px;
  position: relative;
}

.moreBtn > button {
  width: 100%;
  height: 100%;
  background-color: #909090;
  color: black;
  font-weight: 500;
  font-size: 17px;
  border: none;
  cursor: unset;
}

.moreBtn > button::before {
  content: "Read more";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 50px 0;
  background-color: var(--orange);
  color: white;
  transform: translateX(-90%);
  font-weight: 500;
  transition: 0.3s;
}

.moreBtn > button:hover::before {
  border-radius: 0;
  transform: translateX(0);
}

/* .project-cardd:hover > div {
  animation: fadeInUp 0.3s linear forwards;
} */

/* .project-card-slider:hover > div {
  animation: fadeInUpSlider 0.3s linear forwards !important;
} */

#slider-sm{
  display: none !important;
}

.end-side-slides{
  display: flex;
}

.end-side-slides > span{
  display: none;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

.end-active{
  background-color: var(--orange) !important;
}

@keyframes fadeInUp {
  to {
    position: absolute;
    transform: translateY(-40%);
  }
}

@keyframes fadeInUpSlider {
  to {
    position: absolute;
    transform: translateY(-61%);
  }
}

@keyframes fillIn {
  from {
    width: 0%;
    display: none;
  }
  to {
    display: flex;
    width: 100%;
  }
}
